<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contests22</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background-image: url("https://wallpaperaccess.com/full/1567833.jpg");
        }
        * {
  box-sizing: border-box;
}
        .fa-home {
           color: blanchedalmond;
           font-size: 20px;
           background: #000;
           padding: 15px;
           border-radius: 30px;
       }
    
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 25px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
         padding: 20px;
         margin: 20px;
          float: left;
           background-color: aliceblue;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
           max-width: 400px;
           height: 400px;
           text-align: center;
           font-family: arial;
       }
       .button{
           padding: 5px;
           background-color: rgb(19, 241, 241);
           cursor: pointer;
           margin: 2px 2px;
        font-size: 16px;

       }
       .buttondanger{
         padding: 5px;
         background-color: rgb(235, 21, 21);   
         cursor: pointer;
        margin: 2px 2px;
        font-size: 16px;
       }
       
       .container{
           padding: 0px;
        width: auto;
        margin: 10px ;
        height: auto;
       }
    
   </style>

</head>
<body>
    <a href="/"> <i class="fa fa-home"></i></a> <hr>
    <h1>Aprill -2022</h1>
    <hr>
    <div class="container">
    <div class ="row">
        <div class = "colomn">
            <div class="card">
                <br><br>
                <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
                    alt="" style="width: 170px; height: 100px;">
                <h1 style="font-size: 25px;">Female in Focus </h1>
                <p class="title" style="font-size: 20px;">Deadline: 7 April 2022</p>
                <div>
                    <button class="button" onclick="window.location.href='//www.1854.photography/awards/female-in-focus '">Enter Contest </a>
                        <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/female-in-focus-2022/'">More details</button>
                </div> 
            </div>
            <div class="card">
                <br><br>
                <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
                    alt="" style="width: 170px; height: 100px;">
                <h1 style="font-size: 25px;">Gaia Photo Fest 2022</h1>
                <p class="title" style="font-size: 20px;">Deadline: 15 April 2022</p>
                <div>
                    <button class="button" onclick="window.location.href='//gaiaphotofest.it/';">Enter Contest </a>
                        <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/gaia-photo-fest-2022/';">More details</button>
                </div> 
            </div>
        <div class = "colomn">
    <div class="card">
        <br><br>
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">ND Awards 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 24 April 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//ndawards.net';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/nd-awards-2022/';">More details</button>
        </div>   
    </div>
  </div>
</div>
<div class="card">
    <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
        alt="" style="width: 170px; height: 100px;">
    <h1 style="font-size: 25px;">Nikon small world Compititions 2022</h1>
    <p class="title" style="font-size: 20px;">Deadline: 30 April 2022</p>
    <div>
        <button class="button" onclick="window.location.href='// www.nikonsmallworld.com/';">Enter Contest </a>
            <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/nikon-small-world-competition-2022/';">More details</button>
       
    </div> 
</div>  
</div>
</div>
<hr>
<h1>May/june-2022</h1>
<hr>
    <div class="container">
    <div class="card">
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Allard Prize Photography Contest 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 1 May 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//www.allardprize.org/photography-competition/';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/allard-prize-photography-competition-2022/';">More details</button>
        </div> 
    </div>  
    <div class="card">
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Global peace Photo Award 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 22 May 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//www.friedaward.com/';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/global-peace-photo-award-2022/';">More details</button>
        </div> 
    </div>  
    <div class="card">
        <br><br>
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Siena Drone Photo Awards 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 15 june 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//droneawards.photo/';">Enter Contest </a>
            <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/siena-drone-photo-awards-2022/';">More details</button>
        </div> 
    </div>  
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <h1>Upcoming-2022</h1>
    <hr>
    <div class="contianer">
    <div class="card">
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Monochrome Awards 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 3 july 2022</p>
        <div>
            <button class="button" onclick="window.location.href='// monoawards.com/';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/monochrome-awards-2022/';">More details</button>
        </div> 
    </div>  
    <div class="card">
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Annual Photography Award 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 5 july 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//annualphotoawards.com/ ';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/annual-photography-awards-2022/';">More details</button>
        </div> 
    </div>  
    <div class="card">
        <br><br>
        <img src="https://static8.depositphotos.com/1338574/828/i/950/depositphotos_8284456-stock-photo-gold-trophy.jpg"
            alt="" style="width: 170px; height: 100px;">
        <h1 style="font-size: 25px;">Chromatic Awards 2022</h1>
        <p class="title" style="font-size: 20px;">Deadline: 17 July 2022</p>
        <div>
            <button class="button" onclick="window.location.href='//chromaticawards.com/';">Enter Contest </a>
                <button class="buttondanger" onclick="window.location.href='//photocontestdeadlines.com/photo-contest-list/chromatic-photo-awards-2022/';">More details</button>
        </div> 
    </div>
  
    </div>
   </body>

</html>