<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQz9AwpJvWA_oqhjJcdRqzF5k9Y49XISTJqQ&usqp=CAU"
    type="image/x-icon">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple|fire">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="grad1">

</head>
<title>PICTURESQUE</title>


<body>

  <style>
    .fa-home {
           color: blanchedalmond;
           font-size: 17px;
           background: #000;
           padding: 15px;
           border-radius: 30px;
           /* align-self; */
      }

    h1 {
      text-align: center;
    }

    body {
      margin: 0;
      font-family: Arial;
    }

    .header {
      text-align: center;
      padding: 32px;
    }

    .row {
      display: -ms-flexbox;
      /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap;
      /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      -ms-flex: 25%;
      /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }

    img {
      border-radius: 10%;
    } 

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }
    }
  </style>

  <body>
    <a href="/"> <i class="fa fa-home"></i></a><br>
    <br><p style="font-size:30px;"><strong>Popular</strong></p>

    <div class="row">
      <div class="column">
        <img
          src="https://images.pexels.com/photos/1743366/pexels-photo-1743366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          style="width:100% ">
        <img
          src="https://images.pexels.com/photos/3784221/pexels-photo-3784221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1544376/pexels-photo-1544376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1477459/pexels-photo-1477459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/10499285/pexels-photo-10499285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/9400988/pexels-photo-9400988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
      </div>
      <br><br>
      <div class="column">
        <img
          src="https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          style="width:100%">
        <img src="https://images.pexels.com/photos/1213447/pexels-photo-1213447.jpeg?auto=compress&cs=tinysrgb&w=600"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1738622/pexels-photo-1738622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1668246/pexels-photo-1668246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1456291/pexels-photo-1456291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/10012492/pexels-photo-10012492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/11560704/pexels-photo-11560704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          style="width:100%;">
        <img
          src="https://images.pexels.com/photos/8584786/pexels-photo-8584786.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          style="width:100%;">


      </div>
      <br>
      <div class="column">
        <img
          src="https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/2171277/pexels-photo-2171277.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/2781760/pexels-photo-2781760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img src="https://images.pexels.com/photos/9955403/pexels-photo-9955403.jpeg?auto=compress&cs=tinysrgb&w=600"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/3681159/pexels-photo-3681159.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1534057/pexels-photo-1534057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1172675/pexels-photo-1172675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/11478153/pexels-photo-11478153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          style="width:100%;">
      </div>
      <div class="column">
        <img
          src="https://images.pexels.com/photos/1707213/pexels-photo-1707213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/4236828/pexels-photo-4236828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/2468773/pexels-photo-2468773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1645668/pexels-photo-1645668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/1496372/pexels-photo-1496372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <img
          src="https://images.pexels.com/photos/8106739/pexels-photo-8106739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          style="width:100%">
        <br>
        <img
          src="https://images.pexels.com/photos/11423478/pexels-photo-11423478.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          style="width:100%">

      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </body>

</html>