<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Team members</title>
  
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
  <script src="https://kit.fontawesome.com/1f1f6f32bc.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<style>
    .fa-home {
            color: blanchedalmond;
            font-size: 20px;
            background: #000;
            padding: 15px;
            border-radius: 30px;
        }
    h1 {
    text-align: center;
    color:blueviolet;
    }
    h2 {
    text-align: center;
    color:rgb(4, 231, 61);
    }
body {
  background-image: url('https://images3.alphacoders.com/853/thumb-1920-85305.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
</head>
<body>
    <a href="/"> <i class="fa fa-home"></i></a>
    <h1>TEAM MEMBERS:</h1>
    <br>
    <h2>1.Daniel deepak dasari</h2>
    <br>
    <h2>2.Harika Lingamsetty</h2>
    <br>
    <h2>3.Lalith kumar golla</h2>
    <br>
    <h2>4.Keerthi kothinti</h2>
    <br>
    <h2>5.Bharath kumar gujjari</h2>
</body>
</html>