
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>User Profile</title>
    <style>
        .bg-image {
            background-image: url("https://www.alexandratourism.com/wp-content/uploads/2015/03/Green-Hills-landscape-mountains-1920x1080.jpg");
            min-height: 750px;
            filter: blur(8px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
         .fa-home {
            color: blanchedalmond;
            font-size: 20px;
            background: #000;
            padding: 15px;
            border-radius: 30px;
        }
        * {
  box-sizing: border-box;
}


        .card {
            background-color: aliceblue;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            text-align: center;
            margin: auto;
            text-align: center;
            font-family: arial;
            background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
        }
        .button{

            padding: 20px 20px;
            text-align: center;
            background-color: aquamarine;
            cursor: pointer;
            margin: 2px 2px;

        }
    </style>
 </head>
 <body>

    <a href="index.html"> <i class="fa fa-home"></i></a>
    <div class="bg-image"></div>
    users.function(users){
    <div class="card">
        <img src="profile.jpg"
            alt="" style="width: 200px; height: 200px;">
        <h1 style="font-size: 25px;">Shourya</h3>
        <h3 style="font-size: 25px;">Raj</h3>

        <p class="title" style="font-size: 20px;">Annual Photography Award 2021 Winner</p>
        <p>shourya.raj@gmail.com</p>
        <p style="font-size: 20px;">Uploads: 0</p>
        <p style="font-size: 20px;">Followers: 0</p>
        <p style="font-size: 20px;">Following: 0</p>
        <div style="margin: 24px 10px;">
            <a href="https://www.instagram.com/hlicker_official/"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/DEEPAKDASARI12"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/daniel-dasari-78b49b203/"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
    }
        <p><button type="button" class="button">Upload</button></p>
      
    </div>
 </body>
 </html>